<div class="sign section--bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sign__content">
                    <!-- registration form -->
                    <form [formGroup]="registerForm" (ngSubmit)="registerUser()" class="sign__form">
                        <a routerLink="/" class="sign__logo">
                            <img src="assets/img/logo.svg" alt="">
                        </a>
                        <div class="sign__group">
                            <input type="text" class="sign__input" formControlName="fullname" placeholder="Fullname">
                        </div>

                        <div class="sign__group">
                            <input type="date" formControlName="birthDate" class="sign__input" placeholder="Birthdate">
                        </div>

                        <div class="sign__group">
                            <input type="text" formControlName="phone" class="sign__input" placeholder="Phone Number">
                        </div>

                        <div class="sign__group">
                            <input type="text" formControlName="address" class="sign__input" placeholder="Local Address">
                        </div>

                        <div class="sign__group">
                            <input type="email" formControlName="email" class="sign__input" placeholder="Email Address">
                        </div>

                        <div class="sign__group">
                            <input type="password" formControlName="password" class="sign__input" placeholder="Password">
                        </div>

                        <button class="sign__btn" type="submit" [disabled]="registerForm.invalid">Sign up</button>

                        <span class="sign__text">Already have an account? <a routerLink='/login'>Sign in!</a></span>
                    </form>
                    <!-- registration form -->
                </div>
            </div>
        </div>
    </div>
</div>